@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-img {
  position: relative !important;
  height: unset !important;
  width: 100% !important;
}

.convertColor {
  filter: invert(82%) sepia(7%) saturate(1223%) hue-rotate(358deg)
    brightness(86%) contrast(83%);
}


.clientSlider .slick-track {
  display: flex !important;
  align-items: center !important;
}